.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  	height: 70px;
    padding: 0 22px;
    justify-content: flex-end;
    &.white-bg {
      background-color: #fff;
    }
    .right {
        display: flex;
        justify-content: space-evenly;
        
      }
}



