<header class="table-header white-bg">
    <div class="right">
        <div class="img pointer">
            <img src="/assets/images/download-selected-orange.svg" alt="" srcset=""> 
            <p class="txt">Download Selected</p>
        </div>
        <div class="img pointer">
            <img src="/assets/images/download-filtered-orange.svg" alt="" srcset=""> 
            <p class="txt">Download Filtered</p>
        </div>
        <div class="img pointer">
            <img src="/assets/images/download-all-orange.svg" alt="" srcset=""> 
            <p class="txt">Download All</p>
        </div>
        <div class="img pointer">
            <img src="/assets/images/clear-search-orange.svg" alt="" srcset="">
            <p  class="txt">Clear All Search</p>
        </div>
        <div class="img pointer">
            <img  src="/assets/images/clear-sort-orange.svg" alt="" srcset="">
            <p  class="txt">Clear Sort</p>
        </div>
        <div class="img pointer">
            <img  src="/assets/images/layout-orange.svg" alt="" srcset="">
            <p class="txt">Layout</p>
        </div>
    </div>
</header>