<table>
    <thead>
        <tr>
            <app-check-box></app-check-box>
            <app-table-header text="Request Date"></app-table-header>
            <app-table-header text="Request Id"></app-table-header>
            <app-table-header text="TM Code"></app-table-header>
            <app-table-header text="Client Code"></app-table-header>
            <app-table-header text="Segement"></app-table-header>
            <app-table-header text="Collateral Type"></app-table-header>
            <app-table-header text="Instruments Type"></app-table-header>
            <app-table-header text="Instrument ID"></app-table-header>
            <app-table-header text="Nature of Request"></app-table-header>
            <app-table-header text="Request Type"></app-table-header>
        </tr>
    </thead>
    <tbody>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
    </tbody>

</table>