<!-- <table>
    <thead class="table-header">
        <tr>
            <app-check-box></app-check-box>
            <app-table-header text="Request Date"></app-table-header>
            <app-table-header text="Request Id"></app-table-header>
            <app-table-header text="Request Status"></app-table-header>
            <app-table-header text="TM Code"></app-table-header>
            <app-table-header text="Client Code"></app-table-header>
            <app-table-header text="Segement"></app-table-header>
            <app-table-header text="Collateral Type"></app-table-header>
            <app-table-header text="Instruments Type"></app-table-header>
            <app-table-header text="Instrument ID"></app-table-header>
            <app-table-header text="Nature of Request"></app-table-header>
            <app-table-header text="Request Type"></app-table-header>
            <app-table-header text="Value Date"></app-table-header>
            <app-table-header text="Time of Completion"></app-table-header>
        </tr>
    </thead>
    <tbody class="table-body">
        <ng-container *ngFor="let request of requestData$ | async">
            <tr>
                <app-check-box></app-check-box>
                <td> {{request.requestDate | date: "d MMM y" }} </td>
                <td> {{request.requestId}} </td>
                <td 
                    [ngClass]="[
                        request.status == 'Pending' ? 'pending' : '',
                        request.status == 'Cancelled' ||  request.status == 'Unsuccessful'? 'unsuccessful' : '',
                        request.status == 'Successful' ? 'successful' : '' ]"
                    > 
                    {{request.status}} 
                </td>
                <td> {{request.tmCode}} </td>
                <td> {{request.clientCode}} </td>
                <td> {{request.segment}} </td>
                <td> {{request.collateral  | titlecase}} </td>
                <td> {{request.instrumentType  | titlecase}} </td>
                <td> {{request.instrumentId}} </td>
                <td> {{request.natureOfRequest}} </td>
                <td> {{request.requestType  | titlecase}} </td>
                <td> {{request.valueDate  | date: "d MMM y"}} </td>
                <td> {{request.processDate | date: "h:mm"}} </td>
            </tr>
        </ng-container>

    </tbody>

</table> -->

<app-data-table [tableData$]="requestData$" [columnDefs]="columnDefs"></app-data-table>