.side-nav {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 200;
  width: 80px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #362d7e;
  min-height: 100%;
  .side-nav-option {
    display: flex;
    max-height: 100%;
    border-top: 1px solid #fff;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    color: #fff;
    &.active {
      background-color:  #f1b51c;
      color: #362d7e !important;
      outline: 0;
    }
  }
}
