<div class="side-nav">
    <ng-container *ngFor="let sideNavOption of sideNavOptions; let i = index">
        <div class="side-nav-option pointer" [routerLink]="sideNavOption.route" routerLinkActive="active"
          #rla="routerLinkActive">
            <div class="img flex-col pointer">
                <img [src]="rla.isActive ? sideNavOption.activeImage : sideNavOption.img" alt="" srcset="">
                <p class="txt">{{sideNavOption.txt}}</p>
            </div>
        </div>
    </ng-container>
</div>