<header class="card-header white-bg">
    <div class="right">
        <div class="img pointer">
            <img src="/assets/images/reorder.svg" alt="" srcset="" > 
            <p class="txt">Reorder Columns</p>
        </div>
        <div class="img pointer" (click)="save()">
            <img src="/assets/images/save.svg" alt="" srcset=""> 
            <p class="txt">Save</p>
        </div>
        <div class="img pointer" (click)="reset()">
            <img src="/assets/images/reset.svg" alt="" srcset=""> 
            <p class="txt">Reset</p>
        </div>
        <div class="img pointer" (click)="close()">
            <img src="/assets/images/close.svg" alt="" srcset="">
            <p  class="txt">Cancel</p>
        </div>
    </div>
</header>

