.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px;
  bottom: 0;
  overflow: auto;
  .outlet {
    position: absolute;
    top: 70px;
    left: 80px;
    right: 0;
    padding: 50px;
    bottom: 0;
  }
}
