<table>
    <thead>
        <tr>
            <app-check-box></app-check-box>
            <app-table-header text="Symbol"></app-table-header>
            <app-table-header text="ISIN"></app-table-header>
            <app-table-header text="Custodian"></app-table-header>
            <app-table-header text="TM Code"></app-table-header>
            <app-table-header text="Client Code"></app-table-header>
            <app-table-header text="Available Qty"></app-table-header>
            <app-table-header text="Pending for release"></app-table-header>
            <app-table-header text="Pending for Transfer"></app-table-header>
            <app-table-header text="Net Available Qty"></app-table-header>
            <app-table-header text="Designation Segement"></app-table-header>
        </tr>
    </thead>
    <tbody>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
        <tr>
            <app-check-box></app-check-box>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
            <td> Lorem Ipsum </td>
        </tr>
    </tbody>

</table>