.search {
  .input {
   min-width: 78px;
    height: 24px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #8b8a8a;
  }
  .txt {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    color: #f9e1d5;
  }
}
